/* * {
    border: 1px solid black;
} */

body {
    margin: 0;
    font-family: 'Helvetica';
}

.header {
    display: flex;
    background-color: black;
    color: #E5E7Eb;
    justify-content: space-between;
}

.header-logo {
    margin: 24px;
}

.right-links {
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 12px;
    margin-right: 12px;
}

a {
    display: flex;
    text-decoration: none;
    gap: 16px;
    color: white;
}

.container-1 {
    display: flex;
    background-color: maroon;
    justify-content: space-evenly;
    gap: 24px;
    padding: 64px 96px;
}

.container-1-box {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
}

.awesome {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.awesome button {
    border: none;
    padding: 8px 4px;
    width: 120px;
    margin-top: 8px;
}

.awesome,
.img-1 {
    display: flex;
    flex: 1;
}

.img-1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    display: flex;
    font-size: 48px;
    font: bold;
    color: #F9FAF8;
    padding-right: 12px;
    margin: 0;
}

h5 {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    color:#E5E7Eb;
    padding-right: 12px;
    padding-bottom: 0;
    margin: 0;
}

button {
    background-color: goldenrod;
    border: 2px solid black;
    width: 140px;
    color: black;
    border-radius: 4px;
}

.container-2 {
    display: flex;
    flex-direction: column;
    padding: 0px 200px;
}

h3 {
    text-align: center;
    font-size: 36px;
    color: black;
    background-color: goldenrod;
    margin: 0;
    margin-bottom: 24px;
    padding: 24px;
}

.container-2-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 24px;
    flex-wrap: wrap;
    gap: 4px;
}

.stack {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.box img{
    width: 350px;
    height: 200px;
    border: 2px solid black;
    border-radius: 16px;
}

.text {
    display: flex;
    text-align: center;
    word-wrap: normal;
    flex-wrap: wrap;
    max-width: 150px;
}

.container-3 {
    background-color: #E7E7E7;
    flex-direction: column;
    padding: 48px 450px;
    justify-content: space-evenly;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-family: 'Lucida Sans';
    justify-content: flex-start;
}

.author {
    padding-top: 10px;
    font-variant: small-caps;
    font-weight: bold;
    justify-content: flex-end;
}

.quote,
.author {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.container-4 {
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 48px 200px;
}

.blue-box {
    display: flex;
    flex: 1;
    padding: 24px;
    color: white;
    background-color: maroon;
    border-radius: 4px;
    justify-content: space-evenly;
}

.left-stuff {
    text-align: left;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;

}

h4 {
    text-align: center;
    background-color: black;
    color: #F9FAF8;
    padding: 25px 100px;
    margin: 0;
}
